[tool.isort]
profile = "black"
known_first_party = ["boiling_learning"]
multi_line_output = 3
line_length = 99
float_to_top = true
remove_redundant_aliases = true

[tool.unimport]
gitignore = true
ignore_init = true
include_star_import = true
remove = true
requirements = true

[tool.black]
include = '\.py|\.pyi|\.ipynb$'
line-length = 99
skip-string-normalization = true
target-version = ['py37']

[tool.mypy]
mypy_path = "./typings"
follow_imports = "normal"
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
strict = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true
plugins = [
	"numpy.typing.mypy_plugin",
	"classes.contrib.mypy.classes_plugin",
	"tinydb.mypy_plugin",
	"dataclassy.mypy"
]

[tool.commitizen]
tag_format = "v$major.$minor.$patch$prerelease"
update_changelog_on_bump = true
version = "0.18.11"
version_files = [
	"VERSION",
	"pyproject.toml:version"
]

[tool.poetry]
name = "boiling-learning"
version = "0.18.11"
description = "Deep learning models for phase-change quantification and classification."
authors = ["Ruan Comelli <ruancomelli@gmail.com>"]
readme = "README.md"
repository = "https://github.com/ruancomelli/boiling-learning"
documentation = "https://github.com/ruancomelli/boiling_learning/blob/main/README.md"
keywords = [
	"python",
	"machine-learning",
	"deep-learning",
	"tensorflow",
	"phase-change"
]
classifiers = [
	"Development Status :: 2 - Pre-Alpha",
	"Intended Audience :: Developers",
	"Intended Audience :: Manufacturing",
	"Intended Audience :: Financial and Insurance Industry",
	"Operating System :: OS Independent",
	"Topic :: Scientific/Engineering",
	"Topic :: Scientific/Engineering :: Image Processing",
	"Topic :: Scientific/Engineering :: Image Recognition",
	"Topic :: Scientific/Engineering :: Physics",
]

[tool.poetry.dependencies]
python = ">=3.7.12,<3.10"
aioredis = "^1.3.1"
bidict = "^0.21.4"
bokeh = "^2.4.2"
dataclassy = "^0.11.1"
decorator = "^5.1.1"
frozendict = "^1.2"
funcy = "^1.17"
gspread = "^5.1.1"
h5py = "^3.6.0"
imageio = "2.4.1"
importlib-metadata = "^4.10.0"
ipywidgets = "^7.6.5"
json-tricks = "^3.15.5"
lazy = "^1.4"
matplotlib = "^3.5.1"
more-itertools = ">=8.11.0"
nidaqmx = "^0.5.7"
numpy = ">=1.19.5,<1.22.0"
oauth2client = "^4.1.3"
opencv-python = "^4.5.5.62"
parse = "^1.19.0"
PIMS = "^0.5"
Pint = "^0.18"
scikit-image = "^0.19.1"
scikit-learn = "^1.0.2"
scipy = "^1.7.3"
semver = "^2.13.0"
sortedcontainers = "^2.4.0"
tensorflow-addons = "^0.15.0"
tinydb = "^4.5.2"
typeguard = "^2.13.3"
typing-extensions = "^3.10.0.2"
yogadl = "^0.1.4"
modin = {extras = ["ray"], version = "^0.12.1"}
seaborn = "^0.11.2"
tensorflow = "^2.7.0"
slicerator = "^1.0.0"
albumentations = "^1.1.0"
classes = "^0.4.0"
tinydb-smartcache = "^2.0.0"
iteround = "^1.0.3"
pyqtgraph = "^0.12.3"
PyQt6 = "^6.2.2"
types-frozendict = "^2.0.4"
phantom-types = "^0.15.1"

[tool.poetry.dev-dependencies]
autoflake = "1.4"
black = "21.12b0"
commitizen = "2.20.1"
coverage = "5.5"
flake8 = "3.9.2"
isort = {version = "5.10.1", extras = ["requirements_deprecated_finder"]}
pre-commit = "2.15.0"
pytest = "6.2.5"
tox = "3.24.4"
unimport = "0.9.2"
pylint = "^2.12.2"
mypy = ">=0.931"
types-decorator = "^5.1.3"
types-frozendict = "^2.0.4"
types-PyYAML = "^6.0.3"
vulture = "^2.3"
tox-asdf = "^0.1.0"
tox-gh-actions = "^2.9.0"
poetryup = "^0.4.0"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/python-poetry/poetry/issues"


[tool.pdm]
includes = []
[tool.pdm.dev-dependencies]
dev = [
    "autoflake==1.4",
    "black==21.12b0",
    "commitizen==2.20.1",
    "coverage==5.5",
    "flake8==3.9.2",
    "isort[requirements_deprecated_finder]==5.10.1",
    "pre-commit==2.15.0",
    "pytest==6.2.5",
    "tox==3.24.4",
    "unimport==0.9.2",
    "pylint<3.0.0,>=2.12.2",
    "mypy>=0.931",
    "types-decorator<6.0.0,>=5.1.3",
    "types-frozendict<3.0.0,>=2.0.4",
    "types-PyYAML<7.0.0,>=6.0.3",
    "vulture<3.0,>=2.3",
    "tox-asdf<1.0.0,>=0.1.0",
    "tox-gh-actions<3.0.0,>=2.9.0",
    "poetryup<1.0.0,>=0.4.0",
]
[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"

[project]
name = "boiling-learning"
version = "0.18.11"
description = "Deep learning models for phase-change quantification and classification."
authors = [
    {name = "Ruan Comelli", email = "ruancomelli@gmail.com"},
    {name = "Ruan Comelli",email = "ruancomelli@gmail.com"}
]
dependencies = [
    "aioredis<2.0.0,>=1.3.1",
    "bidict<1.0.0,>=0.21.4",
    "bokeh<3.0.0,>=2.4.2",
    "dataclassy<1.0.0,>=0.11.1",
    "decorator<6.0.0,>=5.1.1",
    "frozendict<2.0,>=1.2",
    "funcy<2.0,>=1.17",
    "gspread<6.0.0,>=5.1.1",
    "h5py<4.0.0,>=3.6.0",
    "imageio==2.4.1",
    "importlib-metadata<5.0.0,>=4.10.0",
    "ipywidgets<8.0.0,>=7.6.5",
    "json-tricks<4.0.0,>=3.15.5",
    "lazy<2.0,>=1.4",
    "matplotlib<4.0.0,>=3.5.1",
    "more-itertools>=8.11.0",
    "nidaqmx<1.0.0,>=0.5.7",
    "numpy<1.22.0,>=1.19.5",
    "oauth2client<5.0.0,>=4.1.3",
    "opencv-python<5.0.0.0,>=4.5.5.62",
    "parse<2.0.0,>=1.19.0",
    "PIMS<1.0,>=0.5",
    "Pint<1.0,>=0.18",
    "scikit-image<1.0.0,>=0.19.1",
    "scikit-learn<2.0.0,>=1.0.2",
    "scipy<2.0.0,>=1.7.3",
    "semver<3.0.0,>=2.13.0",
    "sortedcontainers<3.0.0,>=2.4.0",
    "tensorflow-addons<1.0.0,>=0.15.0",
    "tinydb<5.0.0,>=4.5.2",
    "typeguard<3.0.0,>=2.13.3",
    "typing-extensions<4.0.0.0,>=3.10.0.2",
    "yogadl<1.0.0,>=0.1.4",
    "modin[ray]<1.0.0,>=0.12.1",
    "seaborn<1.0.0,>=0.11.2",
    "tensorflow<3.0.0,>=2.7.0",
    "slicerator<2.0.0,>=1.0.0",
    "albumentations<2.0.0,>=1.1.0",
    "classes<1.0.0,>=0.4.0",
    "tinydb-smartcache<3.0.0,>=2.0.0",
    "iteround<2.0.0,>=1.0.3",
    "pyqtgraph<1.0.0,>=0.12.3",
    "PyQt6<7.0.0,>=6.2.2",
    "types-frozendict<3.0.0,>=2.0.4",
    "phantom-types<1.0.0,>=0.15.1"
]
requires-python = ">=3.7.12,<3.10"
license = {text = "MIT"}
readme = "README.md"
keywords = ["python", "machine-learning", "deep-learning", "tensorflow", "phase-change"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Manufacturing",
    "Intended Audience :: Financial and Insurance Industry",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Image Processing",
    "Topic :: Scientific/Engineering :: Image Recognition",
    "Topic :: Scientific/Engineering :: Physics"
]

[project.urls]
homepage = ""
"Bug Tracker" = "https://github.com/ruancomelli/boiling-learning/issues"
repository = "https://github.com/ruancomelli/boiling-learning"
documentation = "https://github.com/ruancomelli/boiling_learning/blob/main/README.md"
