name: Continuous Integration Tests
on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10']
        task:
        - make tox

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      id: setup-python
      uses: ./.github/actions/setup-python-environment
      with:
        python-version: ${{ matrix.python-version }}

    - run: ${{ matrix.task }}
